/* app css stylesheet */

body {
    background-color: #fdfcff;

}
.row {
    padding-top: 20px;
    
}

.panel {
    background: #f9f9f9;
    border: #ccc 1px solid;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    line-height: 1.8em;
}

li {
    margin: 0px 0;
    padding: 5px 0;
    background: #f4f4f4;
    padding: 0px;
}

.pic {
    float: right;
    padding-right: 40px;
    width: 30%;
}

h2 {
    color: #0985ef;
}


@media only screen and (max-width: 400px) {
        
    .picout {
        display: none;
    } 
    
     .pic {
        display: none;
    } 
}